<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @organization.data %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
